<p id="notice"><%= notice %></p>

<h1>Creatures</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Avg height</th>
      <th>Avg weight</th>
      <th>Avg length</th>
      <th>Domain</th>
      <th>Kingdom</th>
      <th>Phylum</th>
      <th>Class</th>
      <th>Order</th>
      <th>Family</th>
      <th>Genus</th>
      <th>Species</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @creatures.each do |creature| %>
      <tr>
        <td><%= creature.description %></td>
        <td><%= creature.avg_height %></td>
        <td><%= creature.avg_weight %></td>
        <td><%= creature.avg_length %></td>
        <td><%= creature.t_domain %></td>
        <td><%= creature.t_kingdom %></td>
        <td><%= creature.t_phylum %></td>
        <td><%= creature.t_class %></td>
        <td><%= creature.t_order %></td>
        <td><%= creature.t_family %></td>
        <td><%= creature.t_genus %></td>
        <td><%= creature.t_species %></td>
        <td><%= link_to 'Show', creature %></td>
        <td><%= link_to 'Edit', edit_creature_path(creature) %></td>
        <td><%= link_to 'Destroy', creature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Creature', new_creature_path %>
